.display{
  width: 85%;
}

.homeBody {
  display: flex;
  /* gap: 10px; */
}

.sidebar {

  border: 2px solid red;
  height: 100vh;
  width: 15%; 
  position: sticky;
  top: 0;
  left: 0;
}

.itemList {
  border: 2px solid red;
  position: relative;
  list-style: none;
  padding: 0;
  /* height: 88%; */
  display: flex;
  flex-direction: column;
}

/* .itemList li{
  border: 2px solid green;
  padding: 1rem;
  margin: 8px;
  border-radius: 5px;
} */

.itemList .links {
  border: 2px solid green;
  padding: 1rem;
  margin: 0px 0px;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  /* padding: 10px;
  width: 100%;
  height: 100%;
  border: 2px solid red; */
}
.itemList .links:hover {
  background-color: #4f4f4f58;
  cursor: pointer;
}



.itemList .active {
  background-color: #4f4f4f58;
}

/* .itemList .active{
  background-color: #97969658;
} */

/* .homeBody {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.createPageBtn {
  background-color: #fff;
  border-radius: 50px;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  padding: 20px 30px;
  font-weight: 700;
  color: #6e6b6b;
}

.updateBtn {
  background-color: #fff;
  border-radius: 50px;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  padding: 20px 30px;
  font-weight: 700;
  color: #6e6b6b;
}

.homePageButtonsContainer {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.viewPageBtn {
  background-color: #fff;
  border-radius: 50px;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  padding: 20px 30px;
  font-weight: 700;
  color: #6e6b6b;
} */
