
/* Aman */
.updateBody {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .updateCard{
      height: 90vh;
      width: 90vw;
      background-color: transparent;
      border: 2px solid #6e6b6b;
      border-radius: 10px;
      box-shadow: 0 0 10px #6e6b6b;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  
  .updateContainer {
    height: 80vh;
    width: 80vw;
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw;
  }
  
  .updateItem {
    display: flex;
    align-items: center;
  }
  
  .updateInputFields{
      border: 2px solid #6e6b6b;
      outline: none;
      background: #fff;
      border-radius: 10px;
      font-size: 16px;
      color: #6e6b6b;
      padding: 10px 45px 10px 5px;
  }
  
  .updateBtnContainer{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 400px;
  }
  
  .updateBtn{
      width: 50%;
      height: 40px;
      background: #fff;
     
      outline: none;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,.1);
      cursor: pointer;
      color: #6e6b6b;
      font-weight: 700;
  
  }


















/* -----------MY----------------------------- */
/* .updateBody {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .updateCard{
      height: 90vh;
      width: 90vw;
      background-color: transparent;
      border: 2px solid #6e6b6b;
      border-radius: 10px;
      box-shadow: 0 0 10px #6e6b6b;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  
  .updateContainer {
    height: 80vh;
    width: 80vw;
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw;
  }
  
  .updateItem {
    display: flex;
    align-items: center;
  }
  
  .updateInputFields{
      border: 2px solid #6e6b6b;
      outline: none;
      background: #fff;
      border-radius: 10px;
      font-size: 16px;
      color: #6e6b6b;
      padding: 10px 45px 10px 5px;
  }
  
  .updateBtnContainer{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 400px;
  }
  
  .updateBtn{
      width: 50%;
      height: 40px;
      background: #fff;
      border: none;
      outline: none;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,.1);
      cursor: pointer;
      color: #6e6b6b;
      font-weight: 700;
  
  } */
  

/* -------------------------------------------------------------------------- */

















  /* .updateSelect{
      width: 250px;
      cursor: pointer;
  }
   */












/* .updateBody{
    border: 2px solid red;
    height: 100vh;
    display: flex;
    justify-content: center;
    
} */
/* 
.updateContainer{
    height: 100vh;
    width: 100%;
    
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.updateInputFields{
    border: 2px solid #6e6b6b;
    outline: none;
    background: transparent;
    border-radius: 40px;
    font-size: 16px;
    color: #6e6b6b;
    padding: 5px 10px;
    margin: 2px;
}

.submitBtn{
    background-color: #fff;
    border-radius: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    margin-top: 10px;
    padding: 5px 60px;
    font-weight: 700;
    color: #6e6b6b;
} */